@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
  }







* {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  body {
    background-color: lightgreen;
  }
  
.nav {
    overflow: hidden;
    justify-content: end;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 37px;
    text-decoration: none;
    font-size: 17px;
}



.expandable {
    visibility: collapse;
}

.expand-toggle:checked~* .expandable {
    visibility: visible;
}

#customer-login {
    margin-top: 100px;
}

.Form {
    width: 100%;
    color: #12284c;
    margin-bottom: 50px;
    text-align: center;
}

.recover-form {
    margin-bottom: 250px;
}

.Form_header>h1,
p {
    font-family: initial;
    text-align: center;
    color: mediumspringgreen;
}

#B-day {
    width: 500px;
    height: 50px;
    border: 1px solid #12284c;
}

.Form_Ip {
    width: 485px;
    padding: 11px 18px;
    margin: 2%;
    border: 1px solid #12284c;
}

button {
    cursor: pointer;
}

.Help_btn {
    cursor: pointer;
    background: transparent;
    border: none;
}

.End_btn {
    height: 50px;
    width: 80%;
    padding: 15px;
    border: 0px;
    margin: 10px auto;
    color: white;
    background-color: #12284c;
}

.Form_Invisible {
    opacity: 0;
}

.loyalty {
    background-color: #d1e8ee;
}

.centre {
    text-align: center;
    margin: 20px 0px;
    font-size: 12px;
}

.form2 {
    box-shadow: 16px -3px 36px grey;
    width: 520px;
    height: 305px;
    margin: auto;
    margin-top: 7%;
}

.Form_Box{
    text-align: center;
}




/* footer */
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 221px;
    background-color: #487628;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  
  }
  
  .footercon {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;
    background-color: transparent;
  }
  
  .footer .flex1 {
    color: #999;
    ;
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 17px;
    min-height: 30px;
  
  }
  
  .footer .flex1 h5 {
    align-self: flex-start;
  }
  
  .list1 {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: flex-start;
    align-self: center;
    justify-content: center;
    min-height: 50px;
    font-size: 13px;
    padding: 0px 70px;
    text-align: left;
  }
  
  .list1 li {
    font-size: 13px;
    margin: 7px -10px;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: center;
    align-self: flex-start;
    justify-content: center;
  }
  
  .list1 li a {
    color: #0a0a0a;
    /* text-decoration: none; */
    font-size: 16px;
  }
  
  li a {
    font-size: 13px;
    text-align: center;
    color: #999;
  }
  
  
  .footertxt {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .end {
    width: 100%;
    min-height: 50px;
    background-color: black;
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #999;
    margin-top: -60px;
  }
  
  .end h2 {
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }