@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
  }







* {
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  body {
    background-color: lightgreen;
  }
.nav {
    overflow: hidden;
    justify-content: end;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 37px;
    text-decoration: none;
    font-size: 17px;
}



.expandable {
    visibility: collapse;
}

.expand-toggle:checked~* .expandable {
    visibility: visible;
}

#customer-login {
    margin-top: 100px;
}

.Form {
    width: 100%;
    color: #12284c;
    margin-bottom: 50px;
    text-align: center;
}

.recover-form {
    margin-bottom: 250px;
}

.Form_header>h1,
p {
    font-family: initial;
    text-align: center;
    color: mediumspringgreen;
}

#B-day {
    width: 500px;
    height: 50px;
    border: 1px solid #12284c;
}

.Form_Ip {
    width: 485px;
    padding: 11px 18px;
    margin: 2%;
    border: 1px solid #12284c;
}

button {
    cursor: pointer;
}

.Help_btn {
    cursor: pointer;
    background: transparent;
    border: none;
}

.End_btn {
    height: 50px;
    width: 80%;
    padding: 15px;
    border: 0px;
    margin: 10px auto;
    color: white;
    background-color: #12284c;
}

.Form_Invisible {
    opacity: 0;
}

.loyalty {
    background-color: #d1e8ee;
}

.centre {
    text-align: center;
    margin: 20px 0px;
    font-size: 12px;
}

.form2 {
    box-shadow: 16px -3px 36px grey;
    width: 520px;
    height: 305px;
    margin: auto;
    margin-top: 7%;
}

.Form_Box{
    text-align: center;
}